body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 100ch; 
    margin-inline: auto; 
    padding: 1.5em;
  }

html {
  --color-accent: oklch(70% 0.2 20);
  accent-color: var(--color-accent);
}
 
a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  padding: 0.5em;
}

nav {
  display: flex;
  text-align: center;
  margin-bottom: 1em;
  border-bottom: 1px solid oklch(80% 3% 200);
  --border-color: oklch(50% 10% 200 / 40%);
  border-bottom-color: var(--border-color);
}

a.current {
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: 0.1em;
  font-weight: bold;
  border-bottom-color: var(--border-color);
}

a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  padding-bottom: 0.1em;
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

button {
  grid-column: 1 / -1;
  font: inherit;
}

input, textarea, select {
  font: inherit;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;

  article {
    grid-template-rows: subgrid;
    grid-row: span 3;
  }

  h2 {
    margin: 0;
  }
}

h1 { 
  font-size: 200%; 
  line-height: 1.1; 
  text-wrap: balance;
}

label.color-scheme {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 80%;
  display: flex;
}