:global(body) {
  max-width: min(120ch, 80vw);
}

body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto; 
    padding: 1.5em;
  }

html {
  --color-accent: oklch(70% 0.2 20);
  accent-color: var(--color-accent);
}
 
a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  padding: 0.5em;
}

nav {
  display: flex;
  text-align: center;
  margin-bottom: 1em;
  border-bottom: 1px solid oklch(80% 3% 200);
  --border-color: oklch(50% 10% 200 / 40%);
  border-bottom-color: var(--border-color);
}

a.current {
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: 0.1em;
  font-weight: bold;
  border-bottom-color: var(--border-color);
}

a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  padding-bottom: 0.1em;
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

button {
  grid-column: 1 / -1;
  font: inherit;
}

input, textarea, select {
  font: inherit;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;

  article {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-row: span 3;
  }

  .project-title {
    margin: 0;
    margin-bottom: 1em;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

h1 { 
  font-size: 300%; 
  line-height: 1.1; 
  text-wrap: balance;
}

label.color-scheme {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 80%;
  display: flex;
  select {
    margin-left: 0.3em;
  }
}

.resume {
  h1 {
    padding: 1em; 
    background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
    text-align: center;
  }
  h2{
      border-bottom: 1px solid var(--color-accent);
  }
  time {
      font-weight: 230;
  }
  .with_logo { 
      display: flex; 
      gap: 1em;
      margin-top: 2em;
  } 
  img { 
      width: 90px;
      height: 90px;
  }
  .with_logo h4 {
      margin: 0;
  }
  .with_logo ul {
      margin-bottom: 0;
  }
}

#profile-stats {
  dl{ 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-family:'Gill Sans';
    font-size: 24px;
    font-weight: lighter;
  }
  dt {
    grid-row: 1; /* Place all <dt> elements in the first row */
  }
  dd {
    grid-row: 2; /* Place all <dt> elements in the second row */
  }
}

#projects-pie-plot {
  max-width: 20em;
  margin-block: 2em;
  overflow: auto;
}

.swatch {
  display: inline-flex;
  width: 1.2em;
  aspect-ratio: 1 / 1;
  background-color: var(--color);
  border-radius: 50%;
}

.legend {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  padding: 1em;
  border: 0.5px solid;
  flex: 1;
  gap: 1em;
}

.labels {
  display: flex;
  align-items: center;
  gap: 0.4em;
  min-width: 1em;
}

.container {
  display: flex;
  align-items: center;
  gap: 2em;
}

&:has(path:hover) {
  path:not(:hover) {
    opacity: 0.5;
  }
}

path {
  transition: 300ms;
  cursor: pointer;
}

.selected {
  --color: oklch(60% 45% 0) !important;

  &:is(path) {
    fill: var(--color);
  }
}

.searchBar {
  padding: 0.5em;
  font-size: 18px;
  width: 100%;
  margin-top: 1em; /* Adjust the value as needed */
  margin-bottom: 1.5em; /* Adjust the value as needed */
}

.gridlines {
  opacity: 0.2;
}

circle {
  transition: 200ms;
  transform-origin: center;
  transform-box: fill-box;
}

circle:hover {
  transform: scale(1.5);
}

dl.info {
  display: grid;
  grid-template-columns: 1fr 2fr; /* First column for dt, second for dd */
  gap: 0.5em; /* Adds spacing between columns */
  margin: 0; /* Remove default margin */

  dt {
    font-weight: normal; /* Make the labels less prominent */
    text-transform: uppercase; /* Optional: transform labels to uppercase */
  }
  
  dd {
    font-weight: bold; /* Make the values stand out */
    margin: 0; /* Remove default margin */
  }
  transition-duration: 500ms;
  transition-property: opacity, visibility;
}

dl.info[hidden]:not(:hover, :focus-within) {
  opacity: 0;
  visibility: hidden;
}

@keyframes marching-ants {
  to {
    stroke-dashoffset: -8; /* 5 + 3 */
  }
}

.selection {
  fill-opacity: 0.1;
  stroke: black;
  stroke-opacity: 0.7;
  stroke-dasharray: 5 3;
  animation: marching-ants 2s linear infinite;
}

circle.selected {
  fill: #ff6b6b;
}

#stats {
  dl {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-family:'Gill Sans';
    font-size: 18px;
    font-weight: lighter;
    text-transform: capitalize;
  }
  dt {
    font-weight: normal;
  }
}

#language-breakdown {
  display: grid;
  font-family:'Gill Sans';
  font-size: 20px;
  text-align: center;
  dt {
    text-transform: uppercase;
  }
  dd {
    grid-row: 2; 
  }
}

/* Tooltip styling */
.tooltip {
  position: fixed;
  top: 1em;
  left: 1em;
  background-color: rgba(211, 211, 211, 0.8); /* Light background for visibility */
  border-radius: 5%;
  padding: 0.5em; /* Add some padding for spacing */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for visibility */
  border: 1px solid #ccc;
}

#commit-link {
  all: unset; /* Remove all previous styles */
  
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

#project-url {
  all: unset;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

#slider-container {
  display: flex;
  align-items: baseline;
}

#time-slider {
  flex: 1;
}

#selectedTime {
  margin-left: auto;
}

.files {
  display: grid;
  grid-template-columns: 1fr 4fr; /* Two columns: one for the file name, the other for the line count */
  gap: 1.5em; /* Space between columns */
}

.files > div {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid; /* Let divs follow grid structure */
}

.files dt {
  grid-column: 1; /* Align the <dt> in the first column */
  margin-bottom: 0.2em; /* Add some space between the file name and the line count */
}

.line {
  display: flex;
  width: 0.5em;
  aspect-ratio: 1;
  border-radius: 50%;
}

.files dd {
  grid-column: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  align-content: start;
  gap: 0.15em;
  padding-top: 0.5em;
  margin-left: 0;
}

#scrollytelling {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
}

/* feel free to play with this to make your scrolly more seemless with your plot */
#scroll-container, #scroll-container2 {
  grid-column: 1;
  position: relative;
  width: 95%;
  height: 350px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  margin-bottom: 50px;
}

#chart {
  grid-column: 2;
}

#spacer, #spacer2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: none; /* transparent */
  pointer-events: none;
}

#items-container, #items-container2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em; /* Adjust the padding value as needed */
  box-sizing: border-box; /* Make sure the padding doesn't affect the overall size */  
  margin-bottom: 1em;
}

.item {
  height: 70px;
  padding: 1em;
  box-sizing: border-box;
  border-bottom: 2px solid #eee;
  margin-bottom: 1em;
}

#scroll-container2 {
  width: 100%;
  grid-column: 2;
  margin: 0;
  padding: 0;
}

.files {
  grid-column: 1;
  margin: 0;
  padding: 0;
}